﻿body{
    width: 70%; /*largura da pagina*/
	font-size: 20px;
    margin: 0;
    padding: 0 auto;
    
}

.faixa-topo{
    background: #FFCA02;
    margin: 0px auto;    
    width: 1920px; 
    padding: 2px 0px;
    height: 57px;
    z-index: 1;
}

.redes-sociais li a{
	width: 32px;
	height: 32px;
	display: block;
	text-indent: -99999px;
	border: 1px solid none;
	margin: 0px 5px;
	padding: 0 auto;	
	background-repeat: no-repeat;
}

.facebook{
	background-image: url(../img/icon/facebook.svg);
}

.twitter{
	background-image: url(../img/icon/twitter.svg);
	
}

.instagram{
	background-image: url(../img/icon/insta.svg);
}

.whatsapp{
	background-image: url(../img/icon/whats.svg);
	
}

.redes-sociais li{
	display: inline-flex;
	
}
.faixa-topo h5{
	font-family: arial black, Helvetica, sans-serif;
    font-size: 20px; 
	padding: 0px 0px 0px 370px;
	margin: 7px ;
	z-index: 1;
	width: 30%;
	height: 30px;
}


.faixa-topo h6{	    
	padding: 0px 0px 0px 680px;
	margin: -47px 660px;
	z-index: 1;
	width: 15%;
}



#topo-fixo{
	position: fixed;
	right: 400px;
  	top: 4%;
    background: #D3161F;
	width: 57%;
    margin: 0 auto;
    height: 120px;
	border-bottom: 5px;
	border-radius: 0px 0px 20px 20px;
	border: 2px solid;
	box-shadow: 1px 1px 10px 2px;
}

#topo-fixo:hover{
	position: fixed;
	right: 400px;
  	top: 4%;
    background: #D3161F;
	width: 57%;
    margin: 0 auto;
    height: 120px;
	border-bottom: 5px;
	border-radius: 0px 0px 20px 20px;
	border: 2px solid;
	box-shadow: 1px 1px 10px 2px;
	
}
.topo{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 1340px;
	height: 206px;
	z-index: 1;
}

.topo nav{
	width: 660px;
}

.topo nav ul{
    display: flex;
    justify-content: space-between;
	padding: 10px 0px 50px 0px;
	margin-left: 2px;
}

.topo nav ul li{
    display: block;
    padding: 13px 20px;
    margin: 0px 35px;	
}
.topo nav ul li a{
    font-size: 18px;
    text-decoration: none;
    color: #ffffff; 
}

.topo nav ul li:hover{
    background: rgba(194, 204, 137, 0.5);
	border-radius: 15px;
	border: 0px solid;
	text-decoration: none;
	font-size: bold;
	
 	
	
}

.botoes {
	display: flex;
	width: 70%;
	margin-left: 35px;
	margin-right: 600px;
	padding: 0px 0px 46px 0px;
}
	
.icon{
	display: flex;
	margin-bottom: 10px;
	align-items: baseline;
	width: 70px;
	height: 50px;
	text-align: center;
	z-index: 1; 
}
	
.iconhome{
    background: url(../img/icon/home.svg) no-repeat center ;
	margin: 10px -8px;
}

.iconcardapio{
    background: url(../img/icon/cardapio.png) no-repeat center;
	margin: 10px 11px;
}

.icondelivery{
    background: url(../img/icon/delivery2,.png) no-repeat center;
	margin: 10px 8px;
	

}

.iconsobre{
    background: url(../img/icon/sobre.svg) no-repeat center; 
	margin: 10px -5px;
}

.iconcontato{
    background: url(../img/icon/tel.svg) no-repeat center;
	margin: 10px 8px;
}

.banner{
	width: 1920px;
    height: 730px;
	z-index: 0;	
	margin-bottom: 0px auto;
}

.cabecalho-home{
	background: url(../img/banner1.jpg);
	height: 730px;
	width: 1920px;
	background-image: no-repeat;
	box-shadow: 1px 1px 10px 1px;
}

.cabecalho-cardapio{
	background: url(../img/menu_pizza.jpg);
	height: 730px;
	width: 1920px;
	background-image: no-repeat;
	box-shadow: 1px 1px 10px 1px;
}

.cabecalho-contato{
	background: url(../img/homem-de-entrega1.png);
	height: 730px;
	width: 1920px;
	background-image: no-repeat;
	box-shadow: 1px 1px 10px 1px;
}

.cabecalho-delivery{
	background: url(../img/entregador_moto.jpg);
	height: 730px;
	width: 1920px;
	background-image: no-repeat;
	box-shadow: 1px 1px 10px 1px;
}

.cabecalho-localizacao{
	background: url(../img/endereco.png);
	height: 730px;
	width: 1920px;
	background-image: no-repeat;
	box-shadow: 1px 1px 10px 1px;
}

.cabecalho-sobre{
	background: url(../img/nome_versalhes2.png) ;
	height: 730px;
	width: 1920px;
	background-image: no-repeat;
	box-shadow: 1px 1px 10px 1px;
}

.topo img{
	margin-left: 50px;
}

.topo nav ul li span{
	padding: 0px;
	color: #ffffff;
    text-shadow: 1px 0px #ffffff;
	font-size: 18px;
}

.site h2{
	font-family: arial black;
	font-size: 32px;
	color: black;
	margin-left: 850px;
	margin-top: 70px;
	
	
}
#faixa-fixa{
	position: fixed;
	bottom: 0px;
	margin-top: 0;
	
}

.faixa-app{
	background: #ffb718;
	height: 151px;
	width: 1920px;
	margin: -24px auto;
	padding: 0 0;
	
}
.fundo{
	background: url(../img/fundo-9.png);
	width: 1920px;
	height: 900px;
	margin: 15px auto;
			
}

.mais-pedidas{
	display: inline-block;
	margin-bottom: 10px;
	padding: 20px;
	background-repeat: no-repeat;
	border-radius: 25px;
	align-items: none;
}

.img1{
	height: 417px;
	width: 585px;
	border-radius: 25px;
	border: 2px solid;
	margin-left: 320px;
	margin-top: 50px;
	background-image: url("../img/Pizzaria.jpg");
	background-position: center;
	background-repeat: no-repeat;
}

.img2{
	height: 417px;
	width: 585px;
	margin-left: 970px;
	margin-top: -420px;
	border-radius: 25px;
	border: 2px solid;
	background-image:  url(../img/hamburguer-novo.jpg);
	background-position: center;
	background-repeat: no-repeat;
}

.img3{
	width: 350px;
	height: 200px;
	border: 2px solid;
	border-radius: 25px;
	margin-top: 40px;
	margin-left: 320px;
	background-image: url(../img/pizza-sensacao.jpg);
	background-position: center;
	background-repeat: no-repeat;
}

.img4{
	width: 350px;
	height: 200px;
	border: 2px solid;
	border-radius: 25px;
	margin-top: 40px;
	margin-left: 761px;
	margin-top: -203px;
	background-image: url(../img/fritas.jpeg);
	background-position: center;
	background-repeat: no-repeat;
}

.img5{
	width: 350px;
	height: 200px;
	border: 2px solid;
	border-radius: 25px;
	margin-top: 40px;
	margin-left: 1207px;
	margin-top: -203px;
	background-image: url(../img/servindo_pizza.jpg);
	background-position: center;
	background-repeat: no-repeat;
}

.rodape{
	color: #FFFFFF;
	background-color: rgba(55,54,54,1.00);
	width: 1920px;
	height: 228px;
	text-align: center;
	z-index: 0;
}

.rodape h3{
	padding: 10px 0 0 0;
	margin-left: -60px;
}

.rodape1{
	height: 0px;
	width: 11%;
}

.rodape1 a{
	display: flex;
	text-indent: -99999px;
	margin: -100px 0px 0px 100px;
}

.rodape2{
	text-align: center;
	width: 25%;
	margin-left: 680px;
}

.rodape2 h5{
	font-size: 20px;
	line-height: 1px;
	margin-top: 140px;
	margin-bottom: 1px;
}

.rodape2 h6{
	font-size: 14px;
	line-height: 1px;
	margin-top: 5px;
	margin-bottom: 5px;
}

.rodape3{
	margin: 20px 0px 0px 1300px;
	padding: 0 auto;
	margin-top: -200px;
	width: 25%;
	text-align: center;
}

.rodape3 p{
	font-size: 14px;
}

#dinheiro {
	margin-left: -70px
}
